
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    background-color: #1c1717;
    font-family:Source Sans Pro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #DCD5CC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: #DCD5CC ;
    text-align: center;
    padding: 1rem 0;
}

.sidebar-links .sidebar-links-personal{
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 16px;
    color: #aeb2a0;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar .Label{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 30px;
    color: #A19787;
}

.image img {
    /* padding-left: 40px; */
    margin-bottom: 20px;
    border-radius: 50%;
}


.sidebar {
   
    background-color: transparent;
    width: 200px;
    padding-top: 70px;
    margin-left: 180px;
    
    position: fixed;
    height: 100%;

    overflow: auto;
}

.logo p a {
    color: #e7e3de;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.5rem; */

    margin-bottom: 1rem;
    display: block;
}

.sidebar-links {
    
    list-style: none;
    padding: 0;
    height: 335px;
}

.sidebar-links li {
    margin: 1rem 0;
}

.alpha{
    /* font-size: 10px; */
    transition: 0.6s;
}
.alpha:hover{
    transform: translateY(-3px);
    
    color: rgb(255, 255, 255);
    cursor:default;
}

.sidebar-links a {
    color: #e7e3de;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.sidebar-links a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 350px;
    padding: 1rem;
    flex: 1;
}


.about-section {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 130px;
    letter-spacing: .5px;
    word-spacing: 2px;
    line-height: 30px;
}



/* ------------------------------------------------ */

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 100px;
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    margin-left: -25px;
    margin-top: 5px;
  }
  
  .wrapper .icon {
    position: relative;
    background: transparent;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    /* padding-bottom: 0px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
 .resume :hover{
    color:#A19787;
    /* font-weight: 400; */
 }
  
  
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    /* background: #; */
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    /* background: #1da1f2; */
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    /* background: #e4405f; */
    color: #fff;
  }
  


  
